@model Lab3.Models.Author

@{
    ViewData["Title"] = "Author Details";
}

<h1>Author Details</h1>

<div>
    <h4>Author Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Author Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
</div>